@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh; /* au moins toute la hauteur écran */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* prend toute la place dispo entre header et footer */
  display: flex;
  flex-direction: column;
}

body.garden-background {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/fond_jardin_canva.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #294e25;
    min-height: 100vh;
}
  
body.admin-background {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  background: #2D4739;
  color: #ffffff;
  min-height: 100vh;
}

body.connect-background{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-image: url('/fond_jardin_canva.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #2d4739;
}

body.admin-background a{
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
}

h2 {
  margin-top: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color : #2d4739;
}

.btn {
  background-color: #294e25;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #1c351e;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.card {
  background-color: rgba(246, 253, 247, 0.8);
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  flex: 1 1 300px;
  max-width: 500px;
}
  
  