<div class="container">

    <div class="card">
        <h2>Aperçu du jardin</h2>
        <div class="garden-preview">
            <a [routerLink]="[ '/cultures' ]" class="preview-map-link">
                <div class="preview-map">
                    <img src="jardin-miniature.png" alt="Aperçu du jardin" />
                    <div class="overlay"> Accéder à la carte du jardin</div>
                </div>
            </a>
        </div>
    </div>


    <div class="cards-wrapper">
        <div class="card">
            <h2>Météo</h2>
            <div class="weather">
                <p><strong>Conditions :</strong> {{condition}}</p>
                <p><strong>Température :</strong> {{ temperature }} °C</p>
                <p><strong>Humidité :</strong> {{ humidite }} %</p>
                <p><strong>Vent :</strong> {{ vent }} km/h  {{ directionVent }}</p>
                <p><strong>Lune :</strong> {{lune}}</p>
            </div>
        </div>

        <div class="card">
            <h2>Explorer les plantes</h2>
            <p>Apprenez-en plus sur une grande variété de plantes, fruits et légumes !</p>
            <div class="btn" [routerLink]="[ '/explorer' ]">Explorer</div>
        </div>
    </div>

    <div class="cards-wrapper">
        <div class="card">
            <h2>Accéder à mon profil</h2>
            <p>Accéder au tableau de bord de mon jardin </p>
            <div class="btn" [routerLink]="[ '/profil' ]">Mon profil</div>
        </div>

        <div class="card">
            <h2>À propos de l'application</h2>
            <p><strong>Bienvenue dans votre assistant personnel de jardinage !</strong> Cette application a été conçue
                pour
                vous aider à
                suivre facilement vos cultures, consulter la météo locale et visualiser votre jardin
                en un clin d’œil. <br><br>

                Grâce à l'accès rapide à la carte de votre potager, vous pouvez observer l’évolution de vos plantes. En
                explorant notre encyclopédie végétale,
                découvrez une grande variété de fruits, légumes, herbes et fleurs, avec des conseils pratiques pour bien
                les
                entretenir. <br><br>

                Que vous soyez un jardinier débutant ou passionné, cette application vous accompagne pour
                cultiver un potager sain, productif et respectueux de la nature.</p>
        </div>
    </div>

</div>