<div class="container">



  <div class="todo-card">
    <div class="todo-header">
      <h2> À faire aujourd'hui !</h2>
      <p class="todo-sub">Ce qui mérite ton attention aujourd’hui</p>
    </div>

    <div *ngIf="culturesAAroser.length === 0 && culturesARecolter.length === 0" class="todo-empty">
      <p>✅ Tout est bien entretenu, rien à signaler.</p>
    </div>

    <div *ngIf="culturesAAroser.length > 0" class="todo-section arroser">
      <h3>💧 À arroser</h3>
      <ul>
        <li *ngFor="let nom of culturesAAroser">
          <a [routerLink]="['/cultures']" class="todo-link">
            <img [src]="AfficherIcone(nom)" alt="icone" class="todo-icone" />
            <span class="todo-nom">{{ nom }}s</span>
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="culturesARecolter.length > 0" class="todo-section recolter">
      <h3>🧺 À récolter</h3>
      <ul>
        <li *ngFor="let nom of culturesARecolter">
          <a [routerLink]="['/cultures']" class="todo-link">
            <img [src]="AfficherIcone(nom)" alt="icone" class="todo-icone" />
            <span class="todo-nom">{{ nom }}s</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="todo-footer-note">En cas de pluie, l’arrosage est automatiquement reporté.</div>
  </div>



  <div class="cards-wrapper">
    <div class="card">
      <h2>Météo {{lieuJardin}}</h2>
      <div class="weather">
        <p><strong>Conditions :</strong> {{condition}}</p>
        <p><strong>Température :</strong> {{ temperature }} °C</p>
        <p><strong>Humidité :</strong> {{ humidite }} %</p>
        <p><strong>Vent :</strong> {{ vent }} km/h {{ directionVent }}</p>
        <p><strong>Lune :</strong> {{lune}}</p>
      </div>
    </div>

    <div class="card">
      <h2>Explorer les plantes</h2>
      <div class="acces-profil-explorer">
        <p>Apprenez-en plus sur une grande variété de plantes, fruits et légumes !</p>
        <div class="btn" [routerLink]="[ '/explorer' ]">Explorer</div>
      </div>
    </div>
  </div>



  <div class="cards-wrapper">

    <div class="card">
      <div>
        <h2>Aperçu du jardin</h2>
        <div class="garden-preview">
          <a [routerLink]="[ '/cultures' ]" class="preview-map-link">
            <div class="preview-map">
              <img src="jardin-miniature.png" alt="Aperçu du jardin" />
              <div class="overlay"> Accéder à la carte du jardin</div>
            </div>
          </a>
        </div>
      </div>

      <br>
    </div>

    <div class="card">
      <h2>Accéder à mon profil</h2>
      <div class="acces-profil-explorer">
        <p>Accéder au tableau de bord de mon jardin </p>
        <div class="btn" [routerLink]="[ '/profil' ]">Mon profil</div>
      </div>
    </div>


  </div>

</div>