<table>
    <thead>
      <tr>
        <th *ngFor="let prop of properties">{{ prop }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td *ngFor="let prop of properties">
          {{ prop }}
        </td>
        <td>
          <a (click)="edit.emit(item)">
            <lucide-icon name="pencil" class="pencil"></lucide-icon>
          </a>
          <a (click)="delete.emit(item)">
            <lucide-icon name="trash2" class="trash"></lucide-icon>
          </a>
        </td>
      </tr>
      <tr *ngIf="items.length === 0">
        <td [attr.colspan]="properties.length + 1" class="no-results">Aucun résultat</td>
      </tr>
    </tbody>
  </table>