<div class="main-content">
    <div class="carte" id="carte">
      <div class="garden-map">
        <div class="plot" *ngFor="let culture of cultures" (click)="afficherFiche(culture)">
          {{ culture.nomPlante }}
        </div>
      </div>
    </div>
  
    <div class="fiche-plante" *ngIf="cultureSelectionnee">
      <button class="close-btn" (click)="cultureSelectionnee = undefined">×</button>

      <h3 *ngIf="nomPlanteSelectionnee">Nom de la plante : {{ nomPlanteSelectionnee }}</h3>
      <p><strong>Quantité :</strong> {{ cultureSelectionnee.quantite }}</p>
      <p><strong>Date plantation :</strong> {{ cultureSelectionnee.datePlantation }}</p>
      <p><strong>Dernier arrosage :</strong> {{ cultureSelectionnee.dateDernierArrosage }}</p>
      <p><strong>Récolté :</strong> {{ cultureSelectionnee.recolte ? 'Oui' : 'Non' }}</p>
      
      <br>
      <button class="btn btn-danger" (click)="supprimerCulture()"><span class="emoji-plus">🗑️</span> Supprimer la culture</button>

    </div>



  </div>
  
  <div class="ajout-culture-fixed">
    <button class="btn" (click)="toggleForm()">
      <span class="emoji-plus">✚</span> Ajouter une culture
    </button>
  </div>
  
  <form *ngIf="showForm" class="form-ajout" [formGroup]="cultureForm" (ngSubmit)="addCulture()">
    <button class="close-btn" (click)="toggleForm()" aria-label="Fermer">&times;</button>
    
    <h3>Nouvelle culture</h3>

    
      <label for="nomPlante">Nom de la plante :
        <input list="plantes" id="nomPlante" formControlName="nomPlante">
        <datalist id="plantes">
          <option *ngFor="let plante of plantes" [value]="plante.nom">{{ plante.nom }}</option>
        </datalist>
      </label><br><br>
    
    <label for="quantite">Quantité :
      <input type="number" id="quantite" formControlName="quantite">
    </label><br><br>
  
    <label for="plantation">Date de plantation :
      <input type="date" id="plantation" formControlName="datePlantation">
    </label><br><br>
  
    <label for="arrosage">Date du dernier arrosage :
      <input type="date" id="arrosage" formControlName="dateDernierArrosage">
    </label><br><br>
  
  
    <button type="submit" class="btn">Ajouter</button>
  </form>
  