
  
  <div class="profile-header">
    <h1>Tableau de bord : {{jardin.nom}}</h1>
  </div>

  <main>
    <div class="column">
      <section class="section">
        <h2>Mon score</h2>
        <div id="user-score" class="score-display">
          {{client.score}} points
        </div>
      </section>

      <section class="section">
        <h2>Mes Badges</h2>
        <div class="badges-gallery">
          <div *ngFor="let badge of badges"
              class="badge-item"
              [class.obtenu]="badgesDebloques.includes(badge[0])"
              [class.non-obtenu]="!badgesDebloques.includes(badge[0])">
            <img src="Badge_{{badge[0]}}.png" alt="{{badge[0]}}" title="Objectif {{badge[1]}} points">
          </div>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="section">
        <h2>Mes statistiques </h2>
        <div class="stats">
          <div class="stat_item">
            <div class="stat-title" >Plantes cultivées </div>
            <div class="stat-value">{{plantesCultivees}}</div>
            <span style="color : red">(Prendre en compte quantité des cultures ou juste nb cultures ?)</span>
          </div>
          <div class="stat_item">
            <div class="stat-title">Plantes récoltées</div>
            <div class="stat-value">{{plantesRecoltees}}</div>
          </div>
          <div class="stat_item">
            <div class="stat-title">Cultures en cours </div>
            <div class="stat-value">{{plantesCultivees - plantesRecoltees}}</div>
          </div>
          <div class="stat_item">
            <div class="stat-title">Plante favorite</div>
            <div class="stat-value">{{planteFavorite}}</div>
            <span style="color : red">(/!\ changer en nom de plante)</span>
          </div>
        </div>
      </section>
   
      <section class="section">
        <h2>Mes paramètres</h2>
        <ul class="settings">
          <li (click)="ouvrirModalePassword()" class="link">🌻 Changer le mot de passe</li>
          <li (click)="ouvrirModaleNomJardin()" class="link">🌻 Changer le nom du jardin </li>
          <li (click)="ouvrirModaleSupprimerCompte()" class="link">🌻 Supprimer le compte</li>
        </ul>
      </section>
    </div>

    <div class="modal-overlay" *ngIf="isModalPasswordOpen" >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="statut">{{statutChangement}}</span>
        <input type="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" class="input"/>
        <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmer le nouveau mot de passe" class="input"/>
        
        <div class="button-container">
          <button (click)="changerPassword()" class="btn">Valider</button>
          <button (click)="fermerModalePassword()" class="btn">Annuler</button>
        </div>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="isModalNomJardinOpen" >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="statut">{{statutChangement}}</span>
        <span>Nom actuel : {{jardin.nom}}</span>
        <input type="text" [(ngModel)]="newNomJardin" placeholder="Nouveau nom du jardin" class="input"/>
        <div class="button-container">
          <button (click)="changerNomJardin()" class="btn">Valider</button>
          <button (click)="fermerModaleNomJardin()" class="btn">Annuler</button>
        </div>
      </div>
    </div>

    <div class="modal-overlay" *ngIf="isModalSupprimerCompteOpen" >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <p>Souhaitez vous supprimer le compte ?</p>
      
        <div class="button-container">
          <button (click)="supprimerCompte()" class="btn">Confirmer</button>
          <button (click)="fermerModaleSupprimerCompte()" class="btn">Annuler</button>
        </div>
      </div>
    </div>

  </main>

