
  
  <div class="profile-header">
    <h1>Tableau de bord du jardin</h1>
  </div>

  <main>
    <div class="column">
      <section class="section">
        <h2>Score du jardinier</h2>
        <div id="user-score" class="score-display">
          {{client.score}} points
        </div>
      </section>

      <section class="section">
        <h2>Mes Badges</h2>
        <div class="badges-gallery">
          <div *ngFor="let badge of badges"
              class="badge-item"
              [class.obtenu]="badgesDebloques.includes(badge[0])"
              [class.non-obtenu]="!badgesDebloques.includes(badge[0])">
            <img src="Badge_{{badge[0]}}.png" alt="{{badge[0]}}" title="Objectif {{badge[1]}} points">
          </div>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="section">
        <h2>Statistiques </h2>
        <ul class="stats">
          <li>Plantes cultivées : {{plantesCultivees}} <span style="color : red">(Prendre en compte quantité des cultures ou juste nb cultures ?)</span> </li>
          <li>Plantes récoltées : {{plantesRecoltees}}</li>
          <li>Cultures en cours : {{plantesCultivees - plantesRecoltees}}</li>
          <li>Plante préférée : {{planteFavorite}} <span style="color : red">(/!\ changer en nom de plante)</span></li>
        </ul>
      </section>
   
      <section class="section">
        <h2>Paramètres</h2>
        <ul class="settings">
          <span style="color : red">PAS ENCORE FONCTIONNEL</span>
          <li><a href="#">Changer le mot de passe</a></li>
          <li><a href="#">Changer le nom du jardin ({{jardin.nom}})</a></li>
          <li><a href="#">Supprimer le compte</a></li>
        </ul>
      </section>
    </div>
  </main>

