<div class="profile-header">
  <h1>Tableau de bord : {{jardin.nom}}</h1>
</div>

<main>
  <div class="column">
    <section class="section">
      <div class="score-container">
        <div class="score-header">
          <h2>Mon score</h2>
          <svg class="info-icon" (click)="isModalPointsOpen = true" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" width="20" height="20" title="Comment gagner des points ?">
            <circle cx="12" cy="12" r="10" fill="none" stroke="#2e7d32" stroke-width="2" />
            <line x1="12" y1="8" x2="12" y2="8" stroke="#2e7d32" stroke-width="2" stroke-linecap="round" />
            <line x1="12" y1="12" x2="12" y2="16" stroke="#2e7d32" stroke-width="2" stroke-linecap="round" />
          </svg>
        </div>

        <div id="user-score" class="score-display">
          {{client.score}} points
        </div>
      </div>
    </section>

    <section class="section">
      <h2>Mes Badges</h2>
      <div class="badges-gallery">
        <div *ngFor="let badge of badges" class="badge-item" [class.obtenu]="badgesDebloques.includes(badge[0])"
          [class.non-obtenu]="!badgesDebloques.includes(badge[0])">
          <img src="Badge_{{badge[0]}}.png" alt="{{badge[0]}}" title="Objectif {{badge[1]}} points">
        </div>
      </div>
    </section>
  </div>

  <div class="column">
    <section class="section">
      <h2>Mes statistiques </h2>
      <div class="stats">
        <div class="stat_item">
          <div class="stat-title">Total des cultures</div>
          <div class="stat-value">{{plantesCultivees}}</div>
        </div>
        <div class="stat_item">
          <div class="stat-title">Cultures récoltées</div>
          <div class="stat-value">{{plantesRecoltees}}</div>
        </div>
        <div class="stat_item">
          <div class="stat-title">Cultures en cours </div>
          <div class="stat-value">{{plantesCultivees - plantesRecoltees}}</div>
        </div>
        <div class="stat_item">
          <div class="stat-title">Plante favorite</div>
          <div class="stat-value">{{ planteFavorite.nom }}</div>
        </div>
      </div>
    </section>

    <section class="section">
      <h2>Mes paramètres</h2>
      <ul class="settings">
        <li (click)="isModalPasswordOpen = true" class="link">🌻 Changer le mot de passe</li>
        <li (click)="isModalNomJardinOpen = true" class="link">🌻 Changer le nom du jardin </li>
        <li (click)="isModalLieuJardinOpen = true" class="link">🌻 Changer la localisation du jardin </li>
        <li (click)="isModalSupprimerCompteOpen = true" class="link">🌻 Supprimer le compte</li>
      </ul>
    </section>
  </div>

  <app-modification-modal #passwordModal [titre]="'Changer le mot de passe'" [placeholder]="'Nouveau mot de passe'"
    type="password" [(isOpen)]="isModalPasswordOpen" [requireConfirmation]="true" (onConfirm)="changerPassword($event)">
  </app-modification-modal>

  <app-modification-modal #nomJardinModal [titre]="'Changer le nom du jardin'" [placeholder]="'Nouveau nom du jardin'"
    type="text" [(isOpen)]="isModalNomJardinOpen" (onConfirm)="changerNomJardin($event)">
  </app-modification-modal>

  <app-modification-lieu-modal #lieuJardinModal [titre]="'Changer la localisation du jardin'"
    [(isOpen)]="isModalLieuJardinOpen" (onConfirm)="changerLieuJardin($event)">
  </app-modification-lieu-modal>

  <app-confirmation-modal #supprimerCompteModal [titre]="'Supprimer mon compte'" [(isOpen)]="isModalSupprimerCompteOpen"
    (onConfirm)="supprimerCompte()">
  </app-confirmation-modal>

  <app-confirmation-modal #pointsModal [titre]="'Comment gagner des points ?'" [(isOpen)]="isModalPointsOpen"
    (onConfirm)="isModalPointsOpen = false">
    <table class="points-table">
      <tr>
        <td>💧 Arroser une culture</td>
        <td>+2 pts</td>
      </tr>
      <tr>
        <td>🌱 Ajouter une culture</td>
        <td>+4 pts</td>
      </tr>
      <tr>
        <td>🍃 Récolter une culture</td>
        <td>+20 pts</td>
      </tr>
    </table>
  </app-confirmation-modal>

</main>