<div class="plant-card" [attr.data-type]="plante.planteType">
  <img [src]="getImagePath(plante.image)" [alt]="plante.nom">
  <h3><img [src]="getImagePath(plante.icone)" [alt]="plante.nom">{{ plante.nom }}</h3>
  <div class="description-wrapper">
    <p><strong>Description :</strong> {{ plante.description }}</p>
  </div>
  <span class="see-more" (click)="ouvrirModal()">Voir plus</span>
</div>


<div class="modal-overlay" *ngIf="isModalOpen" (click)="fermerModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ plante.nom }}</h2>
    <p> <strong>Description :</strong> {{ plante.description }}</p>
    <p><strong>Conseils de culture :</strong> {{plante.conseil}}</p>
    <p><strong>Récolte :</strong> {{ plante.delaiRecolte }} jours</p>
    <button class="see-more" (click)="fermerModal()">Fermer</button>
  </div>
</div>