<header><garden-navigation /></header>

<div class="search-wrapper">
    <label for="filter" style="font-weight: bold;">Catégorie :</label>
    <select id="filter" class="filter-select" style="width: 200px;">
      <option value="all">Toutes les plantes</option>
      <option value="fruit">Fruits</option>
      <option value="legume">Légumes</option>
      <option value="fleur">Fleurs</option>
    </select>
    <input type="text" class="search-bar" placeholder="Rechercher une plante...">
    <button class="btnSearch">Rechercher</button>
</div>

<div id="plant-container">
  <plant-card/>
  <plant-card/>
  <plant-card/>
  <plant-card/>
  <plant-card/>
  <plant-card/>
</div>



<footer><garden-footer /></footer>