<header class="main-header">
    <div class="logo-container">
      <img src="logo.jpg" alt="Logo" class="logo" style="height: 100px;">
      <h1>Explorer</h1>
    </div>
    <nav class="main-nav">
      <a href="#"><lucide-icon name="home"></lucide-icon>&nbsp;Accueil</a>
      <a href="#"><lucide-icon name="leaf"></lucide-icon> Mes Cultures</a>
      <a href="#"><lucide-icon name="user"></lucide-icon> Mon Profil</a>
      <a href="#"><lucide-icon name="search"></lucide-icon> Explorer</a>
      <a href="#"><lucide-icon name="log-out"></lucide-icon> Se Déconnecter</a>
    </nav>
  </header>