.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    display: flex;
}

.logo{
    width: 15vh;
}

h1{
    margin-top: 0;
    font-size: 5vh;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    border-radius: 15px;
    background-color: #E5F0E7;
    border: 1px solid #D2B8D2;
    width: 33vw;
    height: 8vh;
    font-size: 1rem;
    padding-left: 15px;
}

#submit{
    background-color: #7da87b;
    color: #FFFFFF;
    width: 28vw;
    height: 8vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    font-size: 3vh;
    text-align: center;
    transition: background-color 0.3s;
}
#submit:hover{
    background-color: #2d4739;
}
.help-text{
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
}
.help-text > a{
    font-size: 3vh;
    text-decoration: none;
    color: #2d4739;
}

.help-text > span {
    font-size: 3vh;
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-size: 1rem; 
    line-height: 1;
  }
  
  
  @media (max-width: 600px) {
    .container{
       margin-top: 100px;
    }
    .form {
      padding: 1rem;
      width: 90%; 
    }

    h1{
        font-size: 1.5rem;
        margin-bottom: 2px;
    }
  
    input, button {
      font-size: 0.9rem;
    }

    input{
        border-radius: 15px;
        border: 2px solid #D2B8D2;
        width: 15rem;
        height: 2rem;
        padding-left: 1px;
    }
    #submit{
        width: 12rem;
        height: 2rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin: auto;
        font-size: 0.9rem;
        text-align: center;
        transition: background-color 0.3s;
        align-self: center;
    }
    .help-text > span {
        font-size: 1rem;
        cursor: pointer;
    }
    .error-message {
        color: red;
        font-size: 0.65rem; 
        line-height: 0.65;
      }
  }


