<div class="container">

    <span><img src="logo.jpg" alt="Logo" class="logo"></span>

    <h1>Bienvenue dans Plante & Moi </h1>

    <form (ngSubmit)="authenticate()" [formGroup]="authForm">
        <input type="text" formControlName="login" placeholder="Identifiant" />


        <div class="error-message" *ngIf="loginCtrl?.hasError('required')">
            Le nom d'utilisateur est obligatoire
        </div>

    
        <input type="password" formControlName="password" placeholder="Mot de passe" />

        <div class="error-message" *ngIf="authForm.get('password')?.hasError('required')">
            Le mot de passe est obligatoire
        </div>

        <div class="error-message" *ngIf="messageError!=''">
                {{messageError}}
        </div> 

        <input type="submit" id="submit" [disabled]="authForm.invalid" value="Se connecter" />
    </form>

    <div class="help-text">
        <!-- Bouton pour ouvrir la modale -->
        <span class="new-account" (click)="openModal()">Créer un compte</span>
        <span>|</span>
        <span  class="new-password">Mot de passe oublié</span>
    </div>

</div>

<inscription-modal #inscriptionModal [titre]="'Creer un nouveau compte'" [(isOpen)]="showModal" ></inscription-modal>

