<div class="admin-container">

    <div class="search-container">
        <div class="search-and-button">

          <form role="search" class="search-form" (ngSubmit)="onSearch(searchTerm)">
                    <input type="search" [(ngModel)]="searchTerm" name="searchTerm" id="search-input" class="search-input" placeholder="" aria-label="Search" />
                    <button type="submit"  class="search-button" aria-label="Submit search">
                      <lucide-icon name="searchIcon"></lucide-icon>
                    </button>
          </form>

          <button class="add" (click)="openModal()">Ajouter 
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 2.5C8.09625 2.5 2.5 8.09625 2.5 15C2.5 21.9037 8.09625 27.5 15 27.5C21.9037 27.5 27.5 21.9037 27.5 15C27.5 8.09625 21.9037 2.5 15 2.5ZM21.25 16.25H16.25V21.25H13.75V16.25H8.75V13.75H13.75V8.75H16.25V13.75H21.25V16.25Z" fill="#2D4739"/>
            </svg>
          </button>
        </div>
        

        <div class="filter">
            <span>Filtrer par :</span>
            <ng-container *ngFor="let property of UserProperties">
                <span class="fields"
                [class.active]="selectedFilter === property"
                (click)="selectFilter(property)"
                >{{ property }}</span>
            </ng-container>
        </div>
    </div>

    <table class="Admin-table">
        <thead>
          <tr>
            <ng-container *ngFor="let property of UserProperties">
                <th>{{ property }}</th>
            </ng-container>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jardin of filteredJardins$ |async">
            <td>{{jardin.numero}}</td>
            <td>{{jardin.nom}}</td>
            <td>{{jardin.lieu}}</td>
            <td>{{jardin.superficie}}</td>
            <td> 
                <div class="icons">
                    <a class="link" (click)="editJardin(jardin)">
                        <lucide-icon class="pencil" name="pencil"></lucide-icon>
                    </a>
                    <a class="link" (click)="delete(jardin)">
                        <lucide-icon class="trash" name="trash2"></lucide-icon>
                    </a>
                </div>
            </td>
          </tr>		
          
          <!-- Message si aucun résultat -->
          <tr *ngIf="(filteredJardins$ | async)?.length === 0">
            <td colspan="9" class="no-results">Désolé, aucun résultat trouvé</td>
          </tr>
        </tbody>	
    </table>		

</div>


<!-- Modal -->
<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">

    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeModal()">&times;</button>
      
        <h2>Créer ou éditer un Jardin</h2>

        <form [formGroup]="jardinForm" (ngSubmit)="onSignupSubmit()" class="signup-form">

            <div>
                <label for="libelle">Libelle</label>
                <input class="modal-input" id="libelle" formControlName="libelle" type="text" required />
                <div class="error-message" *ngIf="jardinForm.get('libelle')?.hasError('required')">
                    Le libelle est obligatoire
                </div>
            </div>
            
            <div>
                <label for="lieu">Ville</label>
                <input class="modal-input" id="lieu" formControlName="lieu" type="text" required />
                <div class="error-message" *ngIf="jardinForm.get('lieu')?.hasError('required')">
                    La Ville est obligatoire
                </div>
            </div>
            
            <div>
                <label for="superficie">superficie</label>
                <input class="modal-input" id="superficie" formControlName="superficie" type="text" required />
                <div class="error-message" *ngIf="jardinForm.get('superficie')?.hasError('required')">
                    La superficie est obligatoire
                </div>
            </div>
            
            <button type="submit" class="btn">Enregistrer</button>

        </form>

    </div>
  

</div>



