.admin-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    background: #2E7D32;
    margin:0;
}
.admin-aside-nav{
    width: 100%;
    padding: 27px 38px;
}
.amdmin-main-nav{
    display: flex;
    gap: 15px;
    width: 873px;
}
.fil {
background: #C8E6C9;
display: flex;
align-items: center;
justify-content: start;
gap: 5px;
padding-left: 35px;
font-size: 14px;
height: 27px;
margin-bottom: 20px;
}

.fil a {
color: #000000;
text-decoration: none;
font-weight: 500;
font-size: large;
}

.fil a:hover {
text-decoration: underline;
}

span{
    color:#000000;
}

.settings:hover{
    cursor: pointer;
}

.success-message{
    position: absolute;
    padding: 10px;
    margin: 15px;
    color: #2D4739;
    font-size: large;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    background:#c8e6c9;
    top: 50;
    right: 0;
    border-radius: 15px;
    border: none;
   
  }
  