<admin-navigation/>
<div class="container">

    <form (ngSubmit)="addOrEditAdmin()" [formGroup]="adminForm">
        <input-text label="login" formControlName="login" />
        <div *ngIf="adminForm.get('login')?.hasError('required')" class="alert alert-danger">
            Le login est obligatoire
        </div>

        <input-text label="password" formControlName="password" />
        <div *ngIf="adminForm.get('password')?.hasError('required')" class="alert alert-danger">
            Le mot de passe est obligatoire
        </div>

        @if (editingAdmin) {
            <input type="submit" [disabled]="adminForm.invalid" class="btn btn-warning" value="Modifier" />
        }

        @else {
            <input type="submit" [disabled]="adminForm.invalid" class="btn btn-success" value="Ajouter" />
        }
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Actions</th>
            </tr>

            <tr *ngFor="let Admin of Admins$ | async">
                <td>{{ Admin.login }}</td>
                <td>{{ Admin.password }}</td>
                <td>
                    <div class="btn-group">
                        <div class="btn btn-warning" (click)="editAdmin(Admin)">Modifier</div>
                        <div class="btn btn-danger" (click)="deleteAdmin(Admin)">Supprimer</div>
                    </div>
                </td>
            </tr>
        </thead>
    </table>

</div>



