<div class="container-horizontal">

  <div class="card team-card">
    <h2>L'équipe Plante&Moi</h2>
    <div class="img-grid">
      <div class="member">
        <img src="avatars/Antoine_lezard.png" alt="Antoine" />
        <h3>Antoine</h3>
      </div>
      <div class="member">
        <img src="avatars/Amirdine_gris.png" alt="Amirdine" />
        <h3>Amirdine</h3>
      </div>
      <div class="member">
        <img src="avatars/Marina_general.png" alt="Marina" />
        <h3>Marina</h3>
      </div>
      <div class="member">
        <img src="avatars/Souhaila_casque.png" alt="Souhaila" />
        <h3>Souhaila</h3>
      </div>
    </div>
  </div>

  <div class="card about-card">
    <h2>À propos de l'application</h2>
    <p>
      <strong>Bienvenue dans votre assistant personnel de jardinage !</strong> Cette application a été conçue
      pour vous aider à suivre facilement vos cultures, consulter la météo locale et visualiser votre jardin
      en un clin d’œil.<br /><br />

      Grâce à l'accès rapide à la carte de votre potager, vous pouvez observer l’évolution de vos plantes.
      En explorant notre encyclopédie végétale, découvrez une grande variété de fruits, légumes, herbes et
      fleurs, avec des conseils pratiques pour bien les entretenir.<br /><br />

      Que vous soyez un jardinier débutant ou passionné, cette application vous accompagne pour cultiver un
      potager sain, productif et respectueux de la nature.
    </p>
  </div>

</div>
