<div class="container">


    <div class="card">
        <h2>L'équipe Plante&Moi</h2>
        <div class="img-container">
            <img src="Antoine.png" alt="Antoine">
            <img src="Amirdine.png" alt="Amirdine">
            <img src="Marina.png" alt="Marina">
            <img src="Souhaila.png" alt="Antoine">
        </div>
    </div>

    <div class="cards-wrapper">

        <div class="card">
            <h2>À propos de l'application</h2>
            <p><strong>Bienvenue dans votre assistant personnel de jardinage !</strong> Cette application a été conçue
                pour
                vous aider à
                suivre facilement vos cultures, consulter la météo locale et visualiser votre jardin
                en un clin d’œil. <br><br>

                Grâce à l'accès rapide à la carte de votre potager, vous pouvez observer l’évolution de vos plantes. En
                explorant notre encyclopédie végétale,
                découvrez une grande variété de fruits, légumes, herbes et fleurs, avec des conseils pratiques pour bien
                les
                entretenir. <br><br>

                Que vous soyez un jardinier débutant ou passionné, cette application vous accompagne pour
                cultiver un potager sain, productif et respectueux de la nature.</p>
        </div>
    </div>

</div>